<h1>Setup for running Rails in Liferay portlets</h1>

<p>
So far, the minimum setup and versions known to work:
<ul>
  <li>Ruby 1.8.7 or 1.9, Rails 2.x</li>
  <li>Liferay 5.1.1 or 5.2.x (5.1.2 does NOT work, see <a href="http://issues.liferay.com/browse/LPE-44">LPE-44</a>)</li>
  <li>Git</li>
</ul>
If you want a quickstart and run an example application (Rails 2.3.8), configured to comply given Liferay  (5.2.3) Tomcat bundle, you need to touch less configuration files. For preparing your own application, see the Caterpillar <a href="http://github.com/lamikae/caterpillar/blob/master/README.rdoc">README</a>.
</p>

<div>
<p class="code">
  gem install caterpillar
  git clone git://github.com/lamikae/rails-portlet.git<br />
  cd rails-portlet/<br />
  git submodule init<br />
  git submodule update<br />
</p>
<p>
  Further commands and filenames refer to the <span class="file">rails-portlet</span> directory.
</p>


<!-- <tt>pluginize</tt> Caterpillar and remove the broken symlink.
<p class="code">
  cd rails-portlet/example<br />
  rm -f vendor/plugins/caterpillar<br />
  caterpillar pluginize
</p>
-->

<p>
  If you <u>do want</u> to use a (PostgreSQL) database connection, edit the configuration file <span class="file">example/config/environment.rb</span>. ActiveRecord is disabled by default.<br />
Also set up the database connection; file <span class="file">example/config/database.yml</span>. You may check the examples in that directory.
</p>
<p class="code">
  # enable ActiveRecord<br />
  <span style="color: red;">
  -  config.frameworks -= [:active_record, :active_resource, :action_mailer ]
  </span><br />
  <span style="color: green;">
  +  #config.frameworks -= [:active_record, :active_resource, :action_mailer ] 
</span>
</p>

<p>
  Start the example application server at <span class="file">example</span>.
  <div class="code">
    cd example<br />
    ./script/server 
  </div>
  . . and navigate to <a href="http://localhost:3000/doc/defaultsetup.html">http://localhost:3000/doc/defaultsetup.html</a>, where you should find this document.
</p>

<h2>
Rails is now running. Now, the Liferay setup:
</h2>
<div>
  <p>
Download the Liferay 5.2.3 Tomcat 6 bundle from <a href="http://www.liferay.com/downloads/">liferay.com</a>.

<div class="code">
  cd /usr/local<br />
  unzip liferay-portal-tomcat-6.0-5.2.3.zip<br />
  sudo chown -R `whoami` liferay-portal-5.2.3  # give yourself proper privileges
</div>
</p>

<!--
Liferay 6:
<p class="code">
 $ cd /usr/local<br />
 $ unzip ~/work/bin/liferay-portal-tomcat-6.0.1.zip<br />
 $ sudo chown -R `whoami` liferay-portal-6.0.1  # give yourself privileges
</p>
-->
<p>
If you chose another installation directory, check the configuration file <span class="file">example/config/portlets.rb</span> with your settings.<br />
Install the required JAR (recommended with each Caterpillar update) by returning to the <span class="file">example</span> Rails directory:

<div class="code">
  cd example<br />
  caterpillar jar:install
</div>
</p>


The example application hosts the portlet test bench. Install the XML for this portlet:
<p class="code">
  caterpillar deploy:xml
</p>

</div>

<p>
Then you're ready to boot up Liferay.
<p class="code">
  cd /usr/local/liferay-portal-5.2.3/tomcat-6.0.18<br />
  bin/startup.sh &amp;&amp; sleep 4 &amp;&amp; tail -f logs/catalina.out
</p>

You should see lines like this in the output:

<p class="code">
Starting Liferay Portal Standard Edition 5.2.3 (Augustine / Build 5203 / May 20, 2009)<br />
...<br />
19:19:36,655 INFO  [Rails286Portlet:?] Initializing Rails-portlet portlet_test_bench (version 0.10.0)<br />
...<br />
INFO: Server startup in 46419 ms
</p>

</p>

<p>
  Finally, restart the example application server in production mode..
  <div class="code">
    cd example<br />
    RAILS_ENV=production ./script/server
  </div>

  Then you're ready to browse to <a href="http://localhost:8080/">http://localhost:8080/</a>.
  Login (click on "login as Bruno"), then add a new page and open it. On an empty page click on 'add application' on the JavaScript menu on the upper right corner. You should see the 'Caterpillar' category. Open it and add the test bench.
</p>

<p>
  <%= image_tag 'RailsTestBench.png', :style => 'float: none;' %>
</p>

