<h1>Setup for running Rails portlets in Liferay environment</h1>

<p>
You will need:
<ul>
  <li>Functional development enviroment; this guide expects you to work in *nix OS</li>
  <li>Ruby, Rubygems, Rails 2.x</li>
  <li>Liferay 5.1.1 or 5.2.x on Tomcat installed in <span class="file">/usr/local/liferay</span> (5.1.2 does NOT work, see <a href="http://issues.liferay.com/browse/LPE-44">LPE-44</a>)</li>
  <li>Git</li>
</ul>

Since there can be many various setups, the following packages are optional:
<ul>
  <li>JRuby</li>
  <li>PostgreSQL</li>
</ul>

</p>

<p>
Install Liferay.

<p class="code">
  $ cd /usr/local<br />
  $ unzip liferay-portal-tomcat-6.0-5.2.3.zip<br />
  $ ln -s liferay-portal-tomcat-6.0-5.2.3 liferay
</p>
</p>


<p>
Install the Caterpillar gem, clone the example application from the master branch and start the server.

<p class="code">
 $ gem install caterpillar --no-ri --no-rdoc<br />
 $ git clone git@github.com:lamikae/rails-portlet.git<br />
 $ cd rails-portlet<br />
 $ git submodule update<br />
 $ cd example<br />
 $ ./script/server 
</p>

Check that it is running by navigating to <a href="http://localhost:3000/doc/defaultsetup.html">http://localhost:3000/doc/defaultsetup.html</a>, where you should see this document.
</p>

<p>
If Liferay is running, stop it now.

Check the configuration file <span class="file">config/portlets.rb</span> that the settings match your environment.<br />
Install the required JAR:

<p class="code">
 $ sudo caterpillar jar:install
</p>

The example application hosts the portlet test bench. Install the XML for this portlet:
<p class="code">
 $ sudo caterpillar xml deploy
</p>

</p>

<p>
Then you're ready to boot up Liferay.
<p class="code">
  $ cd /usr/local/liferay<br />
  $ su - tomcat bin/startup.sh ; sleep 4; tail -f logs/catalina.out
</p>

In case you don't have the 'tomcat' user, replace 'su - tomcat' with 'sudo'.<br />
You should see lines like this in the output:

<p class="code">
Starting Liferay Portal 5.1.1 (Calvin / Build 5101 / August 11, 2008)<br />
14:48:07,186 INFO  [Rails286Portlet:94] Initializing Rails286Portlet 0.5.2<br />
14:48:07,213 INFO  [Rails286Portlet:94] Initializing Rails286Portlet 0.5.2<br />
...<br />
INFO: Server startup in 45329 ms
</p>

</p>

<p>
Then you're ready to browse to <a href="http://localhost:8080/">http://localhost:8080/</a>. Login and click on 'add application' on the JavaScript menu on the upper right corner. You should see the 'example' category. Open it and add the test bench.
</p>

<p>
  <%= image_tag 'RailsTestBench.png', :style => 'float: none;' %>
</p>

