<h1>Technical details</h1>

<h2>Overview</h2>

<p>
The project hosts three submodules – <a href="http://github.com/lamikae/html2jsr286">html2jsr286</a>, <a href="http://github.com/lamikae/caterpillar">caterpillar</a> and <a href="http://github.com/lamikae/lportal">lportal</a>.
<ul>
  <li>caterpillar contains the portlet JAR, a set of rake tasks and a Rails plugin</li>
  <li>html2jsr286 is a Java portlet that handles communication between the portlet container and the web app</li>
  <li>lportal is the ActiveRecord library for communicating with the Liferay database from Rails – currently this is unmaintained, and has been tested to work only with Liferay 5 PostgreSQL database</li>
</ul>
</p>

<%= image_tag 'overview.png', :alt => 'Technical overview', :style => 'float: none; width: 40%; margin: 0.5em 2em 1em;' -%>

<h2>Session cookies</h2>
<p>
  html2jsr286 does support session cookies. Sessions from the browser are identified by Liferay, and Rails session cookies are maintained between reloads. The session cookies are never stored to the client browser, but to the Liferay database. You can use cookies in your application like you would do without the Liferay container.
</p>

<h2>Liferay variables</h2>
<p>
  User ID (UID) and group ID (GID) are passed from Liferay to Rails in a session cookie. Caterpillar contains filters to retrieve these values to the Rails controller. Please refer to the <a href="https://github.com/lamikae/caterpillar/blob/master/portlet_test_bench/controllers/caterpillar/liferay_controller.rb">LiferayController</a> in portlet test bench sources for their usage.


<h2>Security</h2>
<p>
  To protect Rails server from accepting requests that are not coming from the Liferay container, the Rails server and a portlet have a shared secret that is passed in a cookie with each request. A new secret is generated when the caterpillar generator is run, and is stored to config/portlets.rb. Please refer to Caterpillar README and LiferayController for its usage.
</p>


<!--
<h2>File uploads</h2>
TODO: write about this


<h2>AJAX</h2>
TODO: write about this

-->

