<div class="image">
  <%= image_tag 'rails-portlet-welcome.png', :alt => "" %>
</div>

<a name="rails-portlet" />
  <h1>Web application development for JSR286 portlets</h1>
<p>
Rails-portlet runs a webapp, such as Ruby on Rails, in a standard <a href="http://jcp.org/en/jsr/detail?id=286">JSR286 Java portlet</a>. The tools and default configuration have been developed in  <a href="http://www.liferay.com">Liferay</a> &amp; Rails + PostgreSQL. This makes agile portlet development on J2EE platform easier to manage.
</p>
<p>
Liferay handles the user management, page layouts ("window management") and other common portal application principles. This workload is off the development team.
</p>

<h1>What environment does this run in?</h1>
<p>
Liferay 5.x, tested on Tomcat. Rails 2 has been used on a number of projects, deployed on both JRuby servlet and MRI Mongrel dispatchers.<br />
Regarding application development for the Liferay platform and database integration, the v5 schema modeling is working only on PostgreSQL.
</p>

<h1>So how do I get started?</h1>
<p>
The aim of this project is to get development quickly on track, with as much automation as possible.
If you want to build a Rails app and run it on Liferay in portlets,
</p>

<div>
<%= image_tag 'caterpillar/caterpillar.gif', :alt => "", :style => "float: left; overflow: auto;" -%>
<p class="code" style="overflow: auto;">
 gem install caterpillar
</p>
</div>

<p>
and download the latest supported Liferay/Tomcat bundle (v5.2) and Rails v2.3. For usable Rails/Liferay database integration, please use PostgreSQL and install the <em>lportal</em> gem. It provides a set of migrations that are required to run before starting the application. The master branch contains incomplete MySQL support.
<br />
See the <%= link_to 'default setup guide', doc_url(:action => 'defaultsetup') %>.
</p>

<h1>What about other portals?</h1>
<p>
Portals without support for portlet filters introduced in the JSR286 spec cannot be supported.
</p>

<h1>What about other frameworks?</h1>
<p>
If you want to develop, say, a <em>Django</em> app, or a <em>.NET</em> app, nothing is stopping you. Oh well, at least you need to generate the portlet XML manually, but <em>html2jsr286</em> allows you to run arbitrary webapp in a portlet. Caterpillar has the XML rules so you may want to check out the <em><a href="http://github.com/lamikae/rails-portlet/tree/master/example/">example Rails application</a></em>.
</p>

<h1>What about Web Proxy Portlet or portletbridge?</h1>
<p>
Wait for an upcoming blog post.
</p>

<h1>How to contact the project?</h1>
<p>
If you need support
<ul>
	<li> send a message to the author (you can find contact info from the source code repository)
	</li>
	<li> join the  <%= link_to 'rails-portlet-bugs mailing list', 'http://rubyforge.org/mailman/listinfo/rails-portlet-bugs' -%> 
	</li>
	<li> <a href="http://github.com/lamikae/rails-portlet/issues">file a bug at Github</a> 
	</li>
</ul>

</p>


