<div class="image">
  <%= image_tag 'rails-portlet-welcome.png', :alt => "" %>
</div>

<a name="rails-portlet" />
  <h1>Web application development for JSR286 portlets</h1>
<p>
Rails-portlet runs a webapp, such as Ruby on Rails, in a standard <a href="http://jcp.org/en/jsr/detail?id=286">JSR286 Java portlet</a>. The tools and default configuration have been developed in  <a href="http://www.liferay.com">Liferay</a> &amp; Rails + PostgreSQL. This makes agile portlet development on J2EE platform easier to manage.
</p>
<p>
This video shows the open development history until May 12, 2010. 
</p>
<p>
<object width="400" height="300"><param name="allowfullscreen" value="true" /><param name="allowscriptaccess" value="always" /><param name="movie" value="http://vimeo.com/moogaloop.swf?clip_id=11694038&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" /><embed src="http://vimeo.com/moogaloop.swf?clip_id=11694038&amp;server=vimeo.com&amp;show_title=1&amp;show_byline=1&amp;show_portrait=0&amp;color=&amp;fullscreen=1" type="application/x-shockwave-flash" allowfullscreen="true" allowscriptaccess="always" width="400" height="300"></embed></object>
</p>

<h1>What environment does this run in?</h1>
<p>
Liferay 5.x, tested on Tomcat. Rails 2 has been used on a number of projects, deployed on both JRuby servlet and MRI Mongrel dispatchers.<br />
Regarding application development for the Liferay platform and database integration, the v5 schema modeling is working only on PostgreSQL.
</p>

<h1>So how do I get started?</h1>
<p>
The aim of this project is to get development quickly on track, with as much automation as possible.
If you want to build a Rails app and run it on Liferay in portlets, start from the <%= link_to 'setup guide', doc_url(:action => 'defaultsetup') %>.
</p>

<h1>What about other portals?</h1>
<p>
Portals without support for portlet filters introduced in the JSR286 spec are not supported.
</p>

<h1>What about other frameworks?</h1>
<p>
If you want to develop, say, a <em>Django</em> app, or a <em>.NET</em> app, nothing is stopping you. Oh well, at least you need to generate the portlet XML manually, but <em>html2jsr286</em> allows you to run arbitrary webapp in a portlet. Caterpillar has the XML rules so you may want to check out the <em><a href="http://github.com/lamikae/rails-portlet/tree/master/example/">example Rails application</a></em>.
</p>

<h1>What about Web Proxy Portlet or portletbridge?</h1>
<p>
Read the <a href="http://blogger-mikael.blogspot.com/2010/04/comparison-of-web-proxy-portlet.html">blog post</a>.
</p>

<h1>How to contact the project?</h1>
<p>
If you need support
<ul>
	<li> send a message to the author (you can find contact info from the source code repository)
	</li>
	<li> join the  <%= link_to 'rails-portlet-bugs mailing list', 'http://rubyforge.org/mailman/listinfo/rails-portlet-bugs' -%> 
	</li>
	<li> <a href="http://github.com/lamikae/rails-portlet/issues">file a bug at Github</a> 
	</li>
</ul>

</p>


