<div class="image">
  <%= image_tag 'rails-portlet-welcome.png', :alt => "" %>
</div>

<a name="rails-portlet" />
  <h1>Web application development for JSR286 portlets</h1>
<p>
Rails-portlet runs a webapp, such as Ruby on Rails, in a standard <a href="http://jcp.org/en/jsr/detail?id=286">JSR286 Java portlet</a>. The tools and default configuration have been developed in  <a href="http://www.liferay.com">Liferay</a> &amp; Rails + PostgreSQL, Oracle. This makes agile portlet development in a J2EE framework easier to manage.
</p>
<p>
Liferay handles the user management, page layouts ("window management") and other common portal application principles. This workload is off the development team.
</p>
<p>
It all started when I needed to develop a webapp for Liferay, and I wanted to do it with Rails. If you're looking for a project that provides webapp-portlets in Rails, look for rails-marionet.
</p>

<!--
<p>
The research was initiated by Cel'Amanzi Ltd, further development funded by Youleaf. The source code is available under MIT open source license.<br />
 &copy; 2008-2010 Mikael Lammentausta.
</p>
-->

<h1>What environment does this run in?</h1>
<p>
Tomcat 6, and on a JBoss/Tomcat bundle with Liferay 5.x.
</p>

<h1>So how do I get started?</h1>

<p>
The project hosts three components – <em>html2jsr286</em>, <em>caterpillar</em> and <em>lportal</em>. You only need Caterpillar unless you are an experimentalist. Caterpillar is a helper for Rails applications. <b>Caterpillar contains the Rails-portlet JAR</b>, so it is the only package you'll need to install to build Rails portlets for the portlet container. If you want to run on Liferay,
</p>

<div>
<%= image_tag 'caterpillar/caterpillar.gif', :alt => "", :style => "float: left; overflow: auto;" -%>
<p class="code" style="overflow: auto;">
 gem install caterpillar
</p>
</div>

<p>
and download the latest supported Liferay/Tomcat bundle (v5.2) and Rails v2.3. For usable Rails/Liferay database integration, please use PostgreSQL and install the <em>lportal</em> gem. It provides a set of migrations that are required to run before starting the application. The master branch contains incomplete MySQL support.
<br />
See the <%= link_to 'default setup guide', doc_url(:action => 'defaultsetup') %>.
</p>

<h1>What about other portals?</h1>
<p>
Portals without support for portlet filters introduced in the JSR286 spec cannot be supported.
</p>

<h1>What about other frameworks?</h1>
<p>
If you want to develop, say, a <em>Django</em> app, or a <em>.NET</em> app, nothing is stopping you. Oh well, at least you need to generate the portlet XML manually, but <em>html2jsr286</em> allows you to run arbitrary webapp in a portlet. Caterpillar has the XML rules so you may want to check out the <em><a href="http://github.com/lamikae/rails-portlet/tree/master/example/">example Rails application</a></em>.
</p>

<h1>How to contact the project?</h1>
<p>
If you need support
<ul>
	<li> send a message to the author (you can find contact info from the source code repository)
	</li>
	<li> join the  <%= link_to 'rails-portlet-bugs mailing list', 'http://rubyforge.org/mailman/listinfo/rails-portlet-bugs' -%> 
	</li>
	<li> <a href="http://github.com/lamikae/rails-portlet/issues">file a bug at Github</a> 
	</li>
</ul>

</p>


