<div style="
border: 8px double white;
padding: 2px;
margin: 8px;
background: blue;
float: left;
">
	<font style="
	size: 12px;
	color: blue;
	background: white;
	">
		Lportal is disabled.
	</font>
</div>