body {
background: #FFFFFF;
background: -webkit-gradient(linear, left bottom, left top, from(#ddffdd), to(#ffffff));

}
#wrapper {
border: 0px double gray;
background: #eaeaea;
position: relative;
width: auto;
margin: 0 1%;
padding: 0.2em;
height: auto;
overflow: visible;
background: -webkit-gradient(linear, left bottom, left top, from(#8aee8a), to(#eaeaea));
}

.mainframe {
border: 0px solid purple;
background: white;
position: relative;
overflow: visible;
padding: 0.4em;
margin: 0;
height: auto;
-webkit-border-bottom-left-radius: 24px;
}

.caterpillar_navigation {
border-bottom: 2px solid #0000ff;
background: #3434ef;
background: -webkit-gradient(linear, left bottom, left top, from(#3434ef), to(#ccddff));
margin: 0;
padding: 0;
min-height: 55px;
height: auto;
position: relative;
}

.caterpillar_navigation ol {
border: 0px solid red;
overflow: hidden;
float: left;
padding: 0;
margin: 1em 0 0 0;
}
.caterpillar_navigation li {
list-style-type: none;
float: left;
vertical-align: top;
padding: 0 10px 0 0;
margin: 0 0 0 10px;
border-right: 1px solid #ffffff;
text-shadow: 2px 2px 2px #000;
}
.caterpillar_navigation a {
font-family: Arial, Helvetica;
font-size: 1.1em;
color: #ffffff;
text-decoration: none;
}
.caterpillar_navigation a:hover {
color: #feef22;
}

#title {
margin: 1em 0 0 1.5em;
float: left;
font-family: "Univers CE 55", DejaVu, Times;
font-size: 1.2em;
color: #ffffff;
}

.image {
float: right;
margin: 10px;
}

.code {
font-family: Courier;
color: black;
padding: 5px 0 0 0;
}

h1 {
margin: 0;
padding: 0;
font-size: 1.4em;
}

h2 {
font-size: 1.2em;
padding: 0;
margin: 0.8em 0 0.2em;
}

p {
padding: 2px;
}

p.code  {
padding: 5px;
border: 1px dotted gray;
margin-left: 20px;
background: #cce5ff;
width: auto;
}

span.file {
color: #aa0077;
font-style: italic;
}

.note {
float: right;
border: 2px dotted #ef3403;
margin: 0.2em 2em 0.5em;
padding: 4px;
font-style: italic;
font-size: 0.9em;
}

